body {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.box {
    background-color: #ffe6f0;
    border: 2px solid red;
    border-radius: 1px;
    padding: 20px;
}

.box:hover {
    background-color: #ffe6f0;
}

.picture {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.picture h1{
    text-align: center;
    height: 50px;
}

.picture img {
    height: 500px;
    width: 370px;
    object-fit: cover;
    border-radius: 20px;
}
/*
    .animation {
        animation: move 2s infinite alternate;
    }

    @keyframes move {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(1000px);
        }
    }
*/
    .hero {
        background-image: url("images/københavn.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top center;
        height: 100vh;
    }

    /*---------------------INDEX.HTML------------------------------------------------ */

