<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>attractionList</title>
    <link rel="stylesheet" th:href="@{/attractionListStyle.css}">
</head>
<body>

<h1 class="text">Tourist Attractions</h1>

<table>
    <thead>
    <tr>
        <th>Attraction</th>
        <th>Description</th>
        <th>City</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="touristAttraction: ${attractions}">
        <td th:text="${touristAttraction.name}"></td>
        <td th:text="${touristAttraction.description}"></td>
        <td th:text="${touristAttraction.city}"></td>
        <td>
            <a th:href="@{/{name}/edit(name=${touristAttraction.name})}">Opdater</a>
        </td>
        <td>
            <a th:href="@{/attractions/{name}/tags(name=${touristAttraction.name})}"> Taaags</a>
        </td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/add}" class="button"> Tilføj Attraktion</a> <!-- Class button styling gider ikke at virke-->

</body>
</html>
