<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>attractionList</title>
    <link rel="stylesheet" th:href="@{/attractionListStyle.css}">
    <link rel="stylesheet" th:href="@{/mainHeader.css}">
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<h1 class="text">Tourist Attractions</h1>

<table>
    <thead>
    <tr>
        <th>Attraction</th>
        <th>Description</th>
        <th>City</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="touristAttraction: ${attractions}">
        <td th:text="${touristAttraction.name}"></td>
        <td th:text="${touristAttraction.description}"></td>
        <td th:text="${touristAttraction.city}"></td>
        <td>
            <a th:href="@{/{name}/edit(name=${touristAttraction.name})}">Opdater</a>
        </td>
        <td>
            <a th:href="@{/attractions/{name}/tags(name=${touristAttraction.name})}"> Tags</a>
        </td>
        <td>
            <form th:action="@{/attractions/{name}/delete (name=${touristAttraction.name})}" method="POST"
            onsubmit="return confirm('er du sikker på at du vil slette attraktionen?')">
                <button type="submit"> Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<div class="button-row">
<a th:href="@{/add}" class="button"> Tilføj Attraktion</a> <!-- Class button styling gider ikke at virke-->
</div>
</body>
</html>
