<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title> Tags </title>
    <link rel="stylesheet" th:href="@{/attractionListStyle.css}">
</head>
<body>

<h1 th:text="${attraction.name}"></h1>

<table>
    <tbody>
    <tr th:each="tag: ${attraction.tags}">
        <td th:text="${tag}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/attractions}" method="GET">
    <button type="submit">Tilbage</button>
</form>

</body>
</html>