<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title> Tags </title>
    <link rel="stylesheet" th:href="@{/addAttaction.css}">
</head>
<body>
<div class="form">
    <div class="text">
        <h1 th:text="${attraction.name}"></h1>
    </div>
    <div class="field">
<table>
    <tbody>
    <tr th:each="tag: ${attraction.tags}">
        <td th:text="${tag}"></td>
    </tr>
    </tbody>
</table>
    <div class="button">
        <form th:action="@{/attractions}" method="GET">
            <button type="submit">Tilbage</button>
        </form>
    </div>
</div>
</div>
</body>
</html>